<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
<head>
<title>Virtual Trading App | Login</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h2>Login</h2>
		<form id="login" th:action="@{/user/login/process}" method="POST">
			<div class="alert alert-warning" th:if="${!#strings.isEmpty(info)}">
				<i class="icon-flash"></i> <span th:utext="${info}"></span>
			</div>
			<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
				<i class="icon-warning2"></i><span th:utext="${error}"></span>
			</div>
			<div class="alert alert-success"
				th:if="${!#strings.isEmpty(success)}">
				<i class="icon-tick"></i><span th:utext="${success}"></span>
			</div>
			<div class="alert alert-danger"
				th:if="${!#strings.isEmpty(authFailed)}">
				<i class="icon-warning2"></i> <span th:utext="${authFailed}"></span>
			</div>
			<div class="group">
				<input type="text" class="form-control" placeholder="Enter username"
					name="user_username" />
			</div>
			<div class="group">
				<input type="password" class="form-control"
					placeholder="Enter password" name="user_password" />
			</div>
			<div class="rem-forget-user">
				<div class="rem-block">
					<div class="chiller_cb">
						<input name="j_remember_me" id="myCheckbox2" type="checkbox" /> <label
							for="myCheckbox2">Remember Me</label> <span></span>
					</div>
				</div>
				<div class="forget-block">
					<a th:href="@{/forgot-password/create}">Forgot Password ?</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="login-btn">
				<input type="submit" value="Login" name="" />
			</div>
			<div class="sign-up">
				<a th:href="@{/institution/user/registration}"><i>Not
						Registered Yet?</i></a>
			</div>
		</form>
	</div>
</body>
</html>
