<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/registration.css}" />
<link rel="stylesheet" th:href="@{/fonts/icomoon/icomoon.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cuprum:400,700"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet" />
<title>Virtual Trading App | Registration</title>
</head>
<body>
	<div class="main-login">
		<div class="login-box">
			<div class="bg-overlay"></div>
			<div class="login-form-box">
				<h2>Registration Form</h2>
				<form id="login" th:action="@{/institution/user/registration}"
					th:object="${user}" method="POST">
					<div class="alert alert-warning" th:if="${!#strings.isEmpty(info)}">
						<i class="icon-flash"></i> <span th:utext="${info}"></span>
					</div>
					<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
						<i class="icon-warning2"></i><span th:utext="${error}"></span>
					</div>
					<div class="alert alert-success"
						th:if="${!#strings.isEmpty(success)}">
						<i class="icon-tick"></i><span th:utext="${success}"></span>
					</div>
					<div class="alert alert-danger"
						th:if="${!#strings.isEmpty(authFailed)}">
						<i class="icon-warning2"></i> <span th:utext="${authFailed}"></span>
					</div>
					<div class="form-content">
						<div class="form-group">
							<label for="name" class="form-title">Full Name</label> <input
								type="text" id="fullName" class="form-control"
								th:field="*{name}" placeholder="Enter Full Name"
								required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}"></div>
						</div>
						<div class="form-group">
							<label for="email" class="form-title">Email</label> <input
								type="text" id="email" class="form-control" th:field="*{email}"
								placeholder="Enter Eamil Address" required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>
						</div>
						<div class="form-group">
							<label for="userName" class="form-title">User Name</label> <input
								type="text" id="userName" class="form-control"
								th:field="*{userName}" placeholder="Enter User Name"
								required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('userName')}"
								th:errors="*{userName}"></div>
						</div>

						<div class="form-group">
							<label for="password" class="form-title">Password</label> <input
								type="password" id="password" class="form-control"
								th:field="*{password}" placeholder="Enter Password"
								required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></div>
						</div>
						<div class="form-group">
							<label for="conformPassword" class="form-title">Conform
								Password</label> <input type="password" id="passwordRetype"
								class="form-control" th:field="*{conformPassword}"
								placeholder="Re-Type Password" required="required" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('conformPassword')}"
								th:errors="*{conformPassword}"></div>
						</div>
						<div class="form-group">
							<label for="contactNumber" class="form-title">Contact
								Number</label> <input type="text" id="contactNumber"
								class="form-control" th:field="*{contactNumber}"
								placeholder="Enter Contact number" required="required" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('contactNumber')}"
								th:errors="*{contactNumber}"></div>
						</div>
						<div class="form-group">
							<label for="address" class="form-title">Address</label> <input
								type="text" id="contactNumber" class="form-control"
								th:field="*{address}" placeholder="Enter Address"
								required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('address')}"
								th:errors="*{address}"></div>
						</div>
						<div class="form-group">
							<button class="btn btn-common1" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>
