<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/fonts/icomoon/icomoon.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/select2.css}" />
<link rel="stylesheet" th:href="@{/css/select2-bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/owl.carousel.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/jtable.2.4.0/themes/basic/jtable_basic.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/sansar.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/media.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cuprum:400,700"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet" />
<link rel="stylesheet"
	th:href="@{/js/datatables/css/dataTables.bootstrap.min.css}" />
<title>Virtual Trading App</title>
</head>
<body>
	<div id="vc-ss-block" class="main-ss-pro-block">
		<div class="app-wrap">
			<header class="app-header">
				<div class="container-fluid">
					<div class="row ">
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col*">
							<div class="logo-block">
								<a th:href="@{/institution/admin/dashboard}" class="logo"> <img
									th:src="@{/images/small-logo.png}"
									alt="Institutional Admin Dashboard" />
								</a> <a class="mini-nav-btn" href="#" id="app-side-mini-toggler">
									<i class="icon-sort"></i>
								</a> <a href="#app-side" data-toggle="onoffcanvas"
									class="onoffcanvas-toggler" aria-expanded="true"> <i
									class="icon-chevron-thin-left"></i>
								</a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-8">
							<div class="title-heading">
								<div class="page-icon">
									<i
										th:if="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/dashboard')}"
										class="icon-home"></i> <i
										th:if="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/user')}"
										class="icon-stack"></i>
								</div>
								<div class="page-title">
									<div th:remove="tag"
										th:if="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/dashboard')}">
										<h5>Dashboard</h5>
										<h6 class="sub-heading">Welcome to Virtual Trading App
											Dashboard</h6>
									</div>
									<div th:remove="tag"
										th:if="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/user')}">
										<h5>User</h5>
										<h6 class="sub-heading">Create Role and User</h6>
									</div>
									<div th:remove="tag"
										th:if="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/')}">
										<h5>Settings</h5>
										<h6 class="sub-heading">Manage All Necessary Information</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-4">
							<ul class="header-actions">
								<li class="dropdown"><a href="#" id="userSettings"
									class="user-settings" data-toggle="dropdown"
									aria-haspopup="true"> <span class="user-name text-truncate"
										th:utext="${#authentication.getPrincipal().getUserName()}"></span>
										<img class="avatar" th:src="@{/images/default.jpg}"
										alt="User Thumb" /> <i class="icon-chevron-small-down"></i>
								</a>
									<div class="dropdown-menu lg dropdown-menu-right"
										aria-labelledby="userSettings">
										<ul class="user-settings-list">
											<li><a th:href="@{/password/change}">
													<div class="icon red">
														<i class="icon-cog3"></i>
													</div>
													<p>Change Password</p>
											</a></li>
											<li><a href="filters.html">
													<div class="icon yellow">
														<i class="icon-schedule"></i>
													</div>
													<p>Activity</p>
											</a></li>
										</ul>
										<div class="logout-btn">
											<a href="javascript:void(0);" class="btn btn-primary"
												onclick="document.getElementById('_logoutForm').submit(); return false;">Logout</a>
											<form id="_logoutForm" th:action="@{/user/logout}"
												method="post" style="display: none;"></form>
										</div>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="app-container">
				<!-- BEGIN .app-side -->
				<aside class="app-side fixed" id="app-side">
					<!-- BEGIN .side-content -->
					<div class="side-content ">
						<!-- BEGIN .user-profile -->
						<!-- END .user-profile -->
						<!-- BEGIN .side-nav -->
						<div class="sidebarNavScroll">
							<nav class="side-nav">
								<!-- BEGIN: side-nav-content -->
								<ul class="ssMenu" id="ssMenu">
									<li
										th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/dashboard') ? 'selected' : ''}"><a
										th:href="@{/institution/admin/dashboard}"> <span
											class="has-icon"> <i class="icon-home"></i>
										</span> <span class="nav-title">Dashboard</span>
									</a></li>

									<li
										th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/user') ? 'selected' : ''}"><a
										th:href="@{/institution/admin/user/list}"> <span
											class="has-icon"> <i class="icon-stack"></i>
										</span> <span class="nav-title">User</span>
									</a></li>

									<li
										th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/') ? 'selected active' : ''}"><a
										href="javascript:void(0);" class="has-arrow"
										th:attr="aria-expanded=${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/') ? 'true' : 'false'}">
											<span class="has-icon"> <i class="icon-file-text2"></i>
										</span> <span class="nav-title">Settings</span>
									</a>
										<ul
											th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/') ? 'collapse in' : 'collapse'}"
											th:attr="aria-expanded=${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/') ? 'true' : 'false'}">
											<li><a
												th:href="@{/institution/admin/settings/event-mgmt}"
												th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/event-mgmt') ? 'current-page' : ''}">Event
													Management</a></li>

											<li><a
												th:href="@{/institution/admin/settings/event-assign}"
												th:class="${#strings.contains(#httpServletRequest.requestURI,'/institution/admin/settings/event-assign') ? 'current-page' : ''}">Assign
													Event</a></li>
											<li><a href="#myModal" data-toggle="modal"
												data-target="#myModal" class="nav-link" id="my-modal">Money
													Allocation</a></li>
											<li><a href="#interestModal" data-toggle="modal"
												data-target="#interestModal" class="nav-link" id="my-modal-interest">Interest
													Rate Allocation</a></li>
										</ul></li>
								</ul>
								<!-- END: side-nav-content -->
							</nav>
						</div>
						<!-- END: .side-nav -->
					</div>
					<!-- END: .side-content -->
				</aside>
				<!-- END: .app-side -->
				<!-- BEGIN .app-main -->
				<section class="app-main">
					<div layout:fragment="content" th:remove="tag"></div>
				</section>
				<!-- END: .app-main -->
			</div>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-container"></div>
					</div>
				</div>
			</div>

			<div id="money-allocation-url" style="display: none;"
				th:utext="@{/institution/admin/settings/money-allocation/money-allocation.do}">
			</div>
			<div id="money-allocation-save-url" style="display: none;"
				th:utext="@{/institution/admin/settings/money-allocation/save.do}">
			</div>
			<div class="modal fade" id="interestModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-container"></div>
					</div>
				</div>
			</div>
			<div id="interest-rate-url" style="display: none;"
				th:utext="@{/institution/admin/settings/interest-rate/interest-rate.do}">
			</div>
			<div id="interest-allocation-save-url" style="display: none;"
				th:utext="@{/institution/admin/settings/interest-rate/save.do}">
			</div>
			
			<footer class="main-footer fixed-btm"> All right Reserved
				2018 </footer>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- offcanvas-->
	<script type="text/javascript" th:src="@{/js/ssMenu/ssMenu.js}"></script>
	<script type="text/javascript" th:src="@{/js/ssMenu/onoffcanvas.js}"></script>
	<script type="text/javascript" th:src="@{/js/ssMenu/slimscroll.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/ssMenu/custom-scrollbar.js}"></script>
	<script type="text/javascript" th:src="@{/js/select2.js}"></script>
	<script type="text/javascript" th:src="@{/js/select2-init.js}"></script>
	<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/jtable.2.4.0/jquery.jtable.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jtable.toolbarsearch.js}"></script>
	<script type="text/javascript" th:src="@{/js/jtable.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/custom/js/money-allocation.js}"></script>
	<script type="text/javascript"
		th:src="@{/custom/js/interest-rate.js}"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>