<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/icons.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/app.min.css}" />
<title>Mero Stock | Login</title>
</head>
<body class="authentication-bg">
	<div class="account-pages mt-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6 col-xl-5">
					<div class="text-center">
						<a href="index.html"> <span><img
								src="assets/images/logo-dark.png" alt="" height="22" /></span>
						</a>
						<p class="text-muted mt-2 mb-4">Responsive Admin Dashboard</p>
					</div>
					<div layout:fragment="content" th:remove="tag"></div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end page -->
	<script type="text/javascript" th:src="@{/assets/js/vendor.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/app.min.js}"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>