<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:remove="tag" th:fragment="formWrapper">
		<div id="testId" style="display: none;"
			th:attr="issuccess=${isSuccess}"></div>
		<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-warning2"></i><span th:utext="${error}"></span>
		</div>
		<div class="alert alert-success" th:if="${!#strings.isEmpty(success)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-tick"></i><span th:utext="${success}"></span>
		</div>
		<form id="orderForm" action="#" onsubmit="false" class="col-lg-10"
			th:object="${order}" method="POST">
			<div class="row">
				<div id="shareQuant" class="col-10 mx-auto col-lg-2">
					<div class="form-group">
						<label class="form-title">INST</label> <input type="number"
							id="inst" class="form-control" th:field="*{id}" />
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
					</div>
				</div>
				<div class="col-10 mx-auto col-lg-2">
					<div class="form-group">
						<label for="company" class="col-xs-4 control-label">SYMBOL</label>
						<select id="company" class="default-select2 form-control"
							th:field="*{company}">
							<option value="">--- Symbol ----</option>
							<option th:each="company,loop : ${companyList}"
								th:value="${company.id}" th:utext="${company.symbol}"></option>
						</select>
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></div>
					</div>
				</div>

				<div class="col-10 mx-auto col-lg-2">
					<div class="form-group">
						<label for="quantity" class="form-title">QUANTITY</label> <input
							type="number" id="quantity" class="form-control"
							th:field="*{quantity}" placeholder="0" />
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
					</div>
				</div>
				<div class="col-10 mx-auto col-lg-2 disabled">
					<div class="form-group">
						<label for="price" class="form-title">PRICE(NRP)</label> <input
							type="number" id="price" class="form-control" th:field="*{price}"
							disabled="disabled" placeholder="0.00" />
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
					</div>
				</div>

				<div id="suantityr" class="col-10 mx-auto col-lg-2 disabled">
					<div class="form-group">
						<label for="validity" class="col-xs-4 control-label">VALIDITY</label>
						<select id="validity" class="default-select2 form-control"
							disabled="disabled" th:field="*{validity}">
							<option th:each="validity,loop : ${validityList}"
								th:value="${validity.value}" th:utext="${validity.value}"></option>
						</select>
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('validity')}" th:errors="*{validity}"></div>
					</div>
				</div>
				<div id="sharantityr" class="col-10 mx-auto col-lg-2 date-disabled">
					<div class="form-group">
						<label for="validTill" class="form-title">VALID TILL</label> <input
							type="date" id="validTill" class="form-control"
							th:field="*{validTill}" disabled="disabled" />
						<div class="parsley-errors-list"
							th:if="${#fields.hasErrors('validTill')}"
							th:errors="*{validTill}"></div>
					</div>
				</div>
				<div class="order-type">
					<input type="hidden" id="order-type" name="orderType"
						th:value="Buy" />
				</div>
			</div>
		</form>
		<div class="wrapper">
			<table class="table table-striped table-title table-order"
				style="display: none;">
				<thead>
					<tr>
						<th>S.N</th>
						<th>SYMBOL</th>
						<th>QTY</th>
						<th>PRICE</th>
						<th>VALID TILL</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order,loop : ${orderList}">
						<td th:utext="${loop.index+1}"></td>
						<td th:utext="${order.company.symbol}"></td>
						<td th:utext="${order.price}"></td>
						<td th:utext="${order.quantity}"></td>
						<td th:utext="${order.validTill}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
