<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:remove="tag" th:fragment="form">
		<div class="alert alert-warning" th:if="${!#strings.isEmpty(info)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-flash"></i> <span th:utext="${info}"></span>
		</div>
		<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-warning2"></i><span th:utext="${error}"></span>
		</div>
		<div class="alert alert-success" th:if="${!#strings.isEmpty(success)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-tick"></i><span th:utext="${success}"></span>
		</div>
		<div class="table-forms">
			<form id="createForm"
				th:action="${user.id != null AND user.id gt 0 ? '/app-admin/user/update' : '/app-admin/user/create'}"
				th:object="${user}" method="POST">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="userName" class="form-title">User Name</label> <input
								type="text" id="userName" class="form-control"
								th:field="*{userName}" placeholder="Enter User name"
								required="required" />
							<div class="error-msg" th:if="${#fields.hasErrors('userName')}"
								th:errors="*{userName}"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="email" class="form-title">Email</label> <input
								type="text" id="email" class="form-control" th:field="*{email}"
								placeholder="Enter Email Address" />
							<div class="error-msg" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="institution" class="form-title">Institution</label> <select
								id="institution" class="form-control" th:field="*{institution}"
								required="required">
								<option value="">--- Select Institution ---</option>
								<option th:value="${institution.id}"
									th:utext="${institution.name}"
									th:each="institution,loop : ${institutions}"></option>
							</select>
							<div class="error-msg"
								th:if="${#fields.hasErrors('institution')}"
								th:errors="*{institution}"></div>
						</div>
					</div>
				</div>
				<div class="spacer10"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="roles" class="form-title">Role</label> <select
								id="roles" class="form-control" th:field="*{roles}"
								required="required">
								<option th:value="${role.id}" th:utext="${role.name}"
									th:selected="${role.id==1}" th:each="role,loop : ${roleList}"></option>
							</select>
							<div class="error-msg" th:if="${#fields.hasErrors('roles')}"
								th:errors="*{roles}"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="userDetail.name" class="form-title">Name</label> <input
								type="text" id="name" class="form-control"
								th:field="*{userDetail.name}" placeholder="Enter name"
								required="required" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('userDetail.name')}"
								th:errors="*{userDetail.name}"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="userDetail.address" class="form-title">Address
							</label> <input type="text" id="address" class="form-control"
								th:field="*{userDetail.address}" placeholder="Enter Address" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('userDetail.address')}"
								th:errors="*{userDetail.address}"></div>
						</div>
					</div>

				</div>
				<div class="spacer10"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="userDetail.contactNumber" class="form-title">Contact
								Number</label> <input type="text" id="contactNumber"
								class="form-control" th:field="*{userDetail.contactNumber}"
								placeholder="Enter Contact Number" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('userDetail.contactNumber')}"
								th:errors="*{userDetail.contactNumber}"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
						<div class="form-group">
							<label for="expiredDate" class="form-title">Expired Date</label>
							<input type="date" id="expiredDate" class="form-control"
								th:field="*{expiredDate}" placeholder="Enter Expired Date" />
							<div class="error-msg"
								th:if="${#fields.hasErrors('expiredDate')}"
								th:errors="*{expiredDate}"></div>
						</div>
					</div>
				</div>
				<input th:if="${user.id != null AND user.id gt 0}" type="hidden"
					th:field="*{id}" />
				<div class="spacer10"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-2 form-bar">
						<div class="form-group">
							<button class="btn btn-common1" type="submit">
								<i
									th:class="${user.id != null AND user.id gt 0 ? 'icon icon-edit' : 'icon icon-plus2'}"></i>
								<span
									th:utext="${user.id != null AND user.id gt 0 ? 'Update' : 'Create'}"></span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
