<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/app-admin">
<head>
<title>Virtual Trading | User</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-header">
							View User
							<div class="card-header-btn-group">
								<a th:href="${'/app-admin/user/edit/' + user.id}"
									class="btn btn-sm btn-common1"><i class="icon icon-edit"></i>
									Edit</a> <a th:href="@{/app-admin/user/list}"
									class="btn btn-sm btn-common1"><i
									class="icon icon-arrow-back"></i> List</a> <a
									th:href="@{/app-admin/user/create}" class="btn btn-sm btn-common1"><i
									class="icon icon-plus2"></i> Create</a>
							</div>
						</div>
						<div class="card-body">
							<div class="alert alert-warning"
								th:if="${!#strings.isEmpty(info)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-flash"></i> <span th:utext="${info}"></span>
							</div>
							<div class="alert alert-danger"
								th:if="${!#strings.isEmpty(error)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-warning2"></i><span th:utext="${error}"></span>
							</div>
							<div class="alert alert-success"
								th:if="${!#strings.isEmpty(success)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-tick"></i><span th:utext="${success}"></span>
							</div>
							<div class="table-responsive">
								<table id="" class="table table-bordered table-striped pad01">
									<tbody>
										<tr>
											<td>User name</td>
											<td th:utext="${user.userName}"></td>
										</tr>
										<tr>
											<td>Email</td>
											<td th:utext="${user.email}"></td>
										</tr>
										<tr>
											<td>Institution</td>
											<td th:utext="${user.institution.name}"></td>
										</tr>
										<tr>
											<td>Role</td>
											<td
												th:utext="${user.roles.size() gt 0 ? user.roles[0].name : ''}"></td>
										</tr>
										<tr>
											<td>Full Name</td>
											<td
												th:utext="${user.userDetail != NULL ? user.userDetail.name : ''}"></td>
										</tr>
										<tr>
											<td>Address</td>
											<td
												th:utext="${user.userDetail != NULL ? user.userDetail.address : ''}"></td>
										</tr>
										<tr>
											<td>Contact Number</td>
											<td
												th:utext="${user.userDetail != NULL ? user.userDetail.contactNumber : ''}"></td>
										</tr>
										<tr>
											<th>Created Date</th>
											<td th:utext="${user.formatDate()}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-forms">
								<form id="statusForm" th:action="@{/app-admin/user/status}"
									method="POST"
									onsubmit="return confirm('Do you really want to change status of this User?');">
									<input type="hidden" name="id" th:value="${user.id}" />
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
											<div class="form-group">
												<button class="btn btn-common1" type="submit"
													th:if="${user.enabled}">
													<i class="icon icon-times"></i> <span>Disabled</span>
												</button>
												<button class="btn btn-common1" type="submit"
													th:if="${!user.enabled}">
													<i class="icon icon-tick"></i> <span>Enabled</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- END: .main-content -->
	</div>
</body>
</html>