<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/app-admin">
<head>
<title>Virtual Trading | Institution</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-header">
							Institution
							<div class="card-header-btn-group">
								<a th:href="@{/app-admin/institution/create}" class="btn btn-sm btn-common1"><i
									class="icon icon-plus2"></i> Create</a>
							</div>
						</div>
						<div class="card-body">
							<div class="alert alert-warning"
								th:if="${!#strings.isEmpty(info)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-flash"></i> <span th:utext="${info}"></span>
							</div>
							<div class="alert alert-danger"
								th:if="${!#strings.isEmpty(error)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-warning2"></i><span th:utext="${error}"></span>
							</div>
							<div class="alert alert-success"
								th:if="${!#strings.isEmpty(success)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-tick"></i><span th:utext="${success}"></span>
							</div>
							<div id="JtableContainer"></div>
							<div id="listUrl" style="display: none;"
								th:utext="@{/app-admin/institution/list.do}"></div>
							<div id="viewUrl" style="display: none;"
								th:utext="@{/app-admin/institution/view}"></div>
							<div id="editUrl" style="display: none;"
								th:utext="@{/app-admin/institution/edit}"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- END: .main-content -->
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript">
			sort = 'name ASC';
			fields = {
				RowNumber : {
					title : 'S.N.',
					width : '5%',
					sorting : false,
					searchable : false,
					display : function() {
						rowNumber++;
						return rowNumber;
					}
				},
				name : {
					title : 'Name',
					width : '12%',
					searchable : true,
					sorting : true
				},
				email : {
					title : 'Email',
					width : '12%',
					searchable : true,
					sorting : true
				},
				/* address : {
					title : 'Address',
					width : '12%',
					searchable : true,
					sorting : true
				},
				contactNumber : {
					title : 'Contact Number',
					width : '12%',
					searchable : true,
					sorting : true
				},
				maxUserLimit : {
					title : 'Max User Limit',
					width : '12%',
					searchable : true,
					sorting : true
				},
				expiredDate : {
					title : 'Expired Date',
					width : '12%',
					searchable : true,
					sorting : true
				}, */
				ShowDetailColumn : {
					title : 'Action',
					sorting : false,
					searchable : false,
					display : function(data) {
						var viewUrl = $("#viewUrl").text() + '/'
								+ data.record.id;
						var view = '<a href="' + viewUrl + '" title="View"><i class="icon icon-eye"></i></a>';
						var block = view;
						if (!data.record.isMain) {
							var editUrl = $("#editUrl").text() + '/'
									+ data.record.id;
							var edit = '<a href="' + editUrl + '" title="Edit"><i class="icon icon-edit"></i></a>';
							block = block + edit;
						}
						return block;
					}
				}
			}
		</script>
	</th:block>
</body>
</html>
