<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/app-admin">
<head>
<title>Virtual Trading | Institution</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-header">
							View Institution
							<div class="card-header-btn-group">
								<a th:href="${'/app-admin/institution/edit/' + institution.id}"
									class="btn btn-sm btn-common1"><i class="icon icon-edit"></i>
									Edit</a> <a th:href="@{/app-admin/institution/list}"
									class="btn btn-sm btn-common1"><i
									class="icon icon-arrow-back"></i> List</a> <a
									th:href="@{/app-admin/institution/create}"
									class="btn btn-sm btn-common1"><i class="icon icon-plus2"></i>
									Create</a>
							</div>
						</div>
						<div class="card-body">
							<div class="alert alert-warning"
								th:if="${!#strings.isEmpty(info)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-flash"></i> <span th:utext="${info}"></span>
							</div>
							<div class="alert alert-danger"
								th:if="${!#strings.isEmpty(error)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-warning2"></i><span th:utext="${error}"></span>
							</div>
							<div class="alert alert-success"
								th:if="${!#strings.isEmpty(success)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-tick"></i><span th:utext="${success}"></span>
							</div>
							<div class="table-responsive">
								<table id="" class="table table-bordered table-striped pad01">
									<tbody>
										<tr>
											<td>Name</td>
											<td th:utext="${institution.name}"></td>
										</tr>
										<tr>
											<td>Email</td>
											<td th:utext="${institution.email}"></td>
										</tr>
										<tr>
											<td>Address</td>
											<td th:utext="${institution.address}"></td>
										</tr>
										<tr>
											<td>Contact Number</td>
											<td th:utext="${institution.contactNo}"></td>
										</tr>
										<tr>
											<td>Maximum User Limit</td>
											<td th:utext="${institution.maxUserLimit}"></td>
										</tr>
										<tr>
											<td>Expired Date</td>
											<td th:utext="${institution.expiredDate}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-forms">
								<form id="deleteForm" th:action="@{/app-admin/institution/delete}"
									method="POST"
									onsubmit="return confirm('Do you really want to delete this institution?');">
									<input type="hidden" name="id" th:value="${institution.id}" />
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 form-bar">
											<div class="form-group">
												<button class="btn btn-common1" type="submit">
													<i class="icon icon-trash"></i> <span>Delete</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- END: .main-content -->
	</div>
</body>
</html>