<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:remove="tag" th:fragment="modalWrapper">
		<div class="alert alert-warning" th:if="${!#strings.isEmpty(info)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-flash"></i> <span th:utext="${info}"></span>
		</div>
		<div class="alert alert-danger" th:if="${!#strings.isEmpty(error)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-warning2"></i><span th:utext="${error}"></span>
		</div>
		<div class="alert alert-success" th:if="${!#strings.isEmpty(success)}">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<i class="icon-tick"></i><span th:utext="${success}"></span>
		</div>

		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"
					th:utext="${eventObj.nameEvent}"></h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div th:each="user,loop : ${users}">

					<label><input type="checkbox" th:value="${user.id}"
						th:id="${'chkbx'+eventObj.id}" th:utext="${user.userName}"
						th:checked="${user.isAssignToThisEvent(eventObj.id)}" /> </label>

				</div>

			</div>
			<input class="hiddenEventId" type="hidden" th:value="${eventObj.id}" />
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btnSave" class="btn btn-primary add-user">Save
					changes</button>
			</div>
		</div>
	</div>
</body>
</html>
