<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/institution-admin">
<head>
<title>Virtual Trading | Event</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-body">
							<div class="tab-overflow">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item eventClass"
										th:each="event,loop : ${events}" th:attr="eventId=${event.id}"><a
										th:class="${identity == event.id ? 'nav-link active' : 'nav-link'}"
										th:href="@{/institution/admin/settings/event-assign(identity=${event.id})}"
										th:utext="${event.nameEvent}"></a></li>
								</ul>
							</div>
							<!-- begin tab-content -->
							<div class="tab-content">
								<!-- begin tab-pane -->
								<div class="tab-pane fade active show" id="nav-tab2-20">
									<ul>
										<li th:each="user,loop : ${event.users}"
											th:utext="${user.userName}"></li>
									</ul>
								</div>

							</div>
							<input type="hidden" id="identity" th:value="${identity}" />
							<button type="button" class="btn btn-primary" data-toggle="modal"
								id="btnAdd" data-target="#exampleModalLong">Add Client</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModalLong" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLongTitle"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-holder"></div>
								</div>
							</div>
							<div id="event-assign-url" style="display: none;"
								th:utext="@{/institution/admin/settings/event-assign/event-assign.do}">
							</div>
							<div id="event-assign-save-url" style="display: none;"
								th:utext="@{/institution/admin/settings/event-assign/save.do}">
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/custom/js/event-assign.js}"></script>
	</th:block>
</body>
</html>




<!-- Modal -->




