@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../js/datatables/fonts/glyphicons-halflings-regular.eot);
	src:
		url(../js/datatables/fonts/glyphicons-halflings-regulard41d.eot?#iefix)
		format('embedded-opentype'),
		url(../js/datatables/fonts/glyphicons-halflings-regular.html)
		format('woff2'),
		url(../js/datatables/fonts/glyphicons-halflings-regular.woff)
		format('woff'),
		url(../js/datatables/fonts/glyphicons-halflings-regular.ttf)
		format('truetype'),
		url(../js/datatables/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
		format('svg')
}

/***** Card Button ***********/
.card-header-btn-group {
	position: absolute;
	right: 15px;
	top: 9px;
	background: #ffffff;
}

.btn-common1, .btn-common1 i{
	color: #ffffff !important;
}
.btn-common1{
	background: #f88c3b;
	border: 1px solid #fffc3b;
}

.jtable-column-header {
	font-weight: bold !important;
}

#JtableContainer, #nrbReport {
	overflow-x: scroll;
	padding: 10px 0;
}

.jtable, .no-wrap {
	white-space: nowrap;
}

.error-msg{
	color: #FF0000
}