* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
}

a, a:hover, a:visited, a:focus, a:active, input, button, select {
	text-decoration: none;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font: normal 14px 'Poppins';
	-webkit-text-size-adjust: 100%;
	height: 100%;
	color: #767676;
	letter-spacing: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 1px transparent;
	position: relative;
	overflow-x: hidden;
}

h1 {
	font: 400 36px 'Poppins';
	color: #00bffd;
}

h2 {
	font: 500 30px 'Poppins';
	color: #00bffd;
}

h3 {
	font: normal 24px 'Poppins';
	color: #00bffd;
}

p {
	line-height: 26px;
}

.clearfix {
	clear: both;
}

.main-login {
	display: table;
	height: 100%;
	width: 100%;
	background: url('../../images/login.jpg') no-repeat;
	background-size: cover;
	position: relative;
}

.login-box {
	display: table-cell;
	vertical-align: middle;
	/*text-align: center;*/
}

.login-control {
	width: 100%;
	min-height: 30px;
	padding: 0;
	box-sizing: border-box;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #4bdbee;
	color: #666;
}

.login-form-box {
	width: 40%;
	/*    margin: 0 auto;*/
	/*background: rgba(0,0,0,0.1);*/
	/*background: rgba(255,255,255,0.7);*/
	padding: 35px 20px;
	position: relative;
	-webkit-box-shadow: -3px 3px 17px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -3px 3px 17px 3px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: -3px 3px 17px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: -3px 3px 17px 3px rgba(0, 0, 0, 0.1);
	box-shadow: -3px 3px 17px 3px rgba(0, 0, 0, 0.1);
	height: 100%;
	border: 2px solid #f88222;
	background: rgba(255, 255, 255, 0.3)
}

.login-form label {
	/*display: block;
	text-align: left;*/
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	transition: all 0.5s;
	transform: translateY(25px);
}

.login-form {
	margin-bottom: 25px;
}

.login-btn input {
	background: #f67f1d;
	border: 0;
	text-transform: uppercase;
	padding: 12px 30px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

.login-btn {
	text-align: center;
}

.img-responsive {
	max-width: 100%;
}

.login-form-box figure {
	margin-bottom: 20px;
	text-align: center;
}

.login-form-box figure img {
	margin: 0 auto;
}

.non-acc {
	margin-top: 20px;
	text-align: center;
}

.non-acc p {
	color: #333;
}

.non-acc p a {
	color: #0512c7;
}

/*************************
placeholder color change
****************************/
.login-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #333;
	font-size: 15px;
}

.login-form input::-moz-placeholder { /* Firefox 19+ */
	color: #333;
	font-size: 15px;
}

.login-form input:-ms-input-placeholder { /* IE 10+ */
	color: #333;
	font-size: 15px;
}

.login-form input:-moz-placeholder { /* Firefox 18- */
	color: #333;
	font-size: 15px;
}

/******************************
float div
********************************/

/* form starting stylings ------------------------------- */
.group {
	position: relative;
	margin-bottom: 30px;
}

.group input {
	font-size: 14px;
	padding: 20px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	box-sizing: border-box;
	color: #000;
	background: transparent;
}

.group input:focus {
	outline: none;
}

/* LABEL ======================================= */
.group label {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.6s ease all;
	-moz-transition: 0.6s ease all;
	-webkit-transition: 0.6s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label {
	top: -10px;
	font-size: 14px;
	color: #f67f1d;
}
/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width: 50%;
}

/**************************
rem forget pass
**************************/
.rem-forget-user {
	margin-bottom: 20px;
}

.rem-forget-user {
	
}

.rem-block {
	width: 50%;
	float: left;
}

.forget-block {
	width: 50%;
	text-align: right;
	float: left;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
	content: "";
	display: inline-block;
	background: #fff;
	width: 0;
	height: 0.2rem;
	position: absolute;
	transform-origin: 0% 0%;
}

.chiller_cb {
	position: relative;
	height: 2rem;
	align-items: center;
}

.chiller_cb input {
	display: none;
}

.chiller_cb input:checked ~ span {
	background: #f67f1d;
	border-color: #f67f1d;
}

.chiller_cb input:checked ~ span:before {
	width: 1rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.3s;
}

.chiller_cb input:checked ~ span:after {
	width: 0.4rem;
	height: 0.15rem;
	transition: width 0.1s;
	transition-delay: 0.2s;
}

.chiller_cb input:disabled ~ span {
	background: #ececec;
	border-color: #dcdcdc;
}

.chiller_cb input:disabled ~ label {
	color: #dcdcdc;
}

.chiller_cb input:disabled ~ label:hover {
	cursor: default;
}

.chiller_cb label {
	padding-left: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	margin-bottom: 0;
	color: #333;
}

.chiller_cb span {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #f68b20;
	position: absolute;
	left: 0;
	transition: all 0.2s;
	z-index: 1;
	box-sizing: content-box;
}

.chiller_cb span:before {
	transform: rotate(-55deg);
	top: 10px;
	left: 0.37rem;
}

.chiller_cb span:after {
	transform: rotate(35deg);
	bottom: 0.35rem;
	left: 0.2rem;
}

.forget-block a {
	color: #2701cf;
}

.bg-overlay {
	background: url('../../images/bg-overlay.png');
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.login-form-box h2 {
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #333;
}

.signup-btns input {
	background: #f88222;
	border: 0;
	padding: 10px 42px;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.login-btns input.reset {
	background: transparent;
	border: 1px solid #f88222;
	color: #333;
	margin-bottom: 20px;
}
/******************************
media css
*********************************/
@media only screen and (max-width: 479px) {
	.login-form-box {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	.rem-forget-user {
		display: block;
	}
	.rem-block {
		width: 100%;
	}
	.forget-block {
		width: 100%;
		text-align: left;
		margin-top: 12px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.login-form-box {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.login-form-box {
		width: 50%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/*************** Alerts ***************/
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-heading {
	color: inherit;
}

.alert-link {
	font-weight: 700;
}

.alert-dismissible {
	padding-right: 4rem;
}

.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75rem 1.25rem;
	color: inherit;
}

.alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.alert-primary hr {
	border-top-color: #9fcdff;
}

.alert-primary .alert-link {
	color: #002752;
}

.alert-secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.alert-secondary hr {
	border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
	color: #202326;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-success hr {
	border-top-color: #b1dfbb;
}

.alert-success .alert-link {
	color: #0b2e13;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.alert-info hr {
	border-top-color: #abdde5;
}

.alert-info .alert-link {
	color: #062c33;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-warning hr {
	border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
	color: #533f03;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-danger hr {
	border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
	color: #491217;
}

.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.alert-light hr {
	border-top-color: #ececf6;
}

.alert-light .alert-link {
	color: #686868;
}

.alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.alert-dark hr {
	border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
	color: #040505;
}

/*** August 23 ******/
.login-form-box {
	margin: 0 auto;
	height: auto !important;
	background-color: #fff;
}

.bg-overlay {
	background-image: none !important;
}

.help-block {
	color: #ac2925;
}

/********** Form Input Field Errors ********/
.error-msg {
	color: #dc3545;
}

.sign-up{
	margin-left: 38%;
    margin-top: 3%;
}