@media only screen and (max-width: 479px){
	.app-container {
	    top: 0;
	}
	.main-content {
	    padding: 40px 15px;
	}
	.nav-tabs .nav-item {
	    margin-bottom: -1px;
	    width: 100%;
	    text-align: center;
	}
	#dynamic-table_wrapper{
		margin-bottom: 40px;
	}
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	    margin: 20px 0;
	    white-space: nowrap;
	}
	.pagination {
	    float: left;
	    margin-left: -15px!important;
	}
	.no-pad {
	    padding: 15px;
	}
	.login-btns input{
		width: 100%;
	}
	.login-box.sign-up-box,.login-box.sign-in-box{
	  overflow-y: scroll;
	}
	.login-box figure img {
	    margin: 0 auto 20px;
	    width: 90%;
	    text-align: center;
	}
	.header-actions {
	    float: left;
	}
	.app-side {
	    width: 230px;
	    position: absolute;
	    top: 123px;
	}


}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.app-container {
	    top: 0;
	}
	.main-content {
	    padding: 40px 15px;
	}
	.nav-tabs .nav-item {
	    margin-bottom: -1px;
	    width: 100%;
	    text-align: center;
	}
	#dynamic-table_wrapper{
		margin-bottom: 40px;
	}
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	    margin: 20px 0;
	    white-space: nowrap;
	}
	.pagination {
	    float: left;
	    margin-left: -15px!important;
	}
	.app-main {
	    margin-left: 0;
	    position: relative;
	    top: 50px;
	}
	.no-pad {
	    padding: 15px;
	}
	.login-btns input{
		width: 100%;
	}
	.login-box.sign-up-box,.login-box.sign-in-box{
	  overflow-y: scroll;
	}
	.app-side{
		top: 24px;
	}



}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.btn-common{
		font-size: 10px;
	}
	.btn .icon {
	    font-size: 10px;
	    vertical-align: middle;
	    margin-top: -2px;
	}
	
	.is-open .app-main {
	    margin-left: 230px;
	}
	.app-main {
	    margin-left: 0;
	}
	.login-box.sign-up-box{
	  overflow-y: scroll;
	}


}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.app-side.is-open {
	     left: 0; 
	}
	.app-main {
	    margin-left: 230px;
	}
	.login-box.sign-up-box{
	  overflow-y: scroll;
	}
}