body {
  font: 400 14px 'Open Sans';
  
}
.dropdown, .dropup {
    position: relative;
    z-index: 9999;
}
.side-nav .ssMenu{
  padding: 0 0 20px;
}
.card .card-header {
    background: #f88222;
    border-bottom: 1px solid #dee7f2;
    padding: 1rem;
    position: relative;
    font-size: 16px;
    color: #fff;
    border-left: 1px solid #f88222;
    border-radius: 0;
    font-weight: 600;
}
.progress .progress-value {
    top: 7px;
    right: 0;
}
.title-heading .page-icon {
    float: left;
    border-right: 1px solid #e1e5f1;
    padding-right: 14px;
}
.title-heading .page-title {
    margin-left: 80px;
}
.title-heading .page-title h5 {
    margin: 0;
    padding: 0;
    line-height: 120%;
}
.title-heading .page-title h6.sub-heading {
    margin: 5px 0 0;
    padding: 0;
    font-size: 12px;
    color: #a7b4c5;
}
.title-heading .page-icon i {
    font-size: 39px;
    margin: 9px 6px 9px 0;
}
.title-heading {
    padding: 12px 0 6px;
}
.header-actions>li>a{
  z-index: 999999999;
}
.page-title h5 {
    font-size: 18px;
}
.login-box .form-control{
  padding-left: 15px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    font-size: 30px;
}
p.for-pas {
    color: #0b98b2;
    font-size: 14px;
    font-weight: 500;
}
.custom-checkboxs.sky-form .checkbox {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 500;
}
.not-register{
    font-size: 14px;
}
.login-btns input {
    background: #f88222;
    border: 0;
    padding: 10px 42px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.stast-details h2 {
    font-size: 18px;
    margin: 20px 0;
}
.company-stats h2 {
    font-size: 19px;
    text-transform: uppercase;
}
.company-stats p {
    font-size: 16px;
}
@media (max-width: 992px){
    a.onoffcanvas-toggler {
        display: inline-block;
        position: relative;
        z-index: 9999;
    }
}
@media (max-width: 767px){
    .header-actions>li:last-child {
        display: block;
        border-left: 0;
        text-align: center;
    }
}

@media (max-width: 576px){
    .app-main {
        margin-left: 0;
        top: 140px;
    }
}
.main-content {
    padding: 10px 30px 40px;
}