*{
  margin:0;
  padding: 0;
}

ul li{
  list-style: none;
  margin:0;
}
a,
a:hover,
a:visited,
a:focus,
a:active,
input,button,select{
  text-decoration: none;
  outline: none;
}
html,body{
  height: 100%;
}
body {
  font: 400 14px 'Poppins';
  -webkit-text-size-adjust: 100%;
  height: 100%;
  color: #666;
  letter-spacing: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke:1px transparent;
  position: relative;
  overflow-x: hidden;
  background: transparent;
  
}
h1,h2,h3,h4,h5,h6{
  font-family:'Open Sans';
  color: #333;
}
p{
  line-height: 30px;
}
/*****************************
change
******************************/
.app-container {
    top: 67px;
}
.header-actions{
  margin-bottom: 0;
}
.app-side.fixed.is-mini {
    position: fixed;
    padding: 0;
    padding-top: 55px;
}
@media (max-width: 576px){
  .app-main {
      margin-left: 0;
      top: 67px;
  }
}
@media (max-width: 576px){
  .app-header {
      position: fixed;
  }
  .header-actions>li>a.user-settings {
      padding: 13px 3px 13px 0px;
  }
}
.header-actions>li>a.user-settings img.avatar {
    max-width: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #f88222;
    padding: 2px;
}
.page-title h5{
  font-size: 22px;
}
.main-heading .page-icon i{
  font-size: 39px;
}
.main-heading .page-title {
    margin-left: 80px;
}
.main-heading .page-icon {
    float: left;
    border-right: 1px solid #e1e5f1;
    padding-right: 14px;
}
.main-heading .page-title h6.sub-heading {
    margin: 5px 0 0;
    padding: 0;
    font-size: 15px;
    color: #a7b4c5;
}
.main-content {
    padding: 40px 30px;
}
/*********************************************
title-progress
************************************************/
.title-progress-box{
  background: #fff;
  border: 1px solid #d7d8da;
  padding: 40px 30px;
}
.icon-col .icon{
  font-size: 50px;
  color: #f88222;
  font-weight: 300;
}
.icon-col{
  display: inline-block;
  margin-right: 15px;
}
.title-progress-info{
  display: inline-block;
}
.title-progress-info h2{
  font-size: 22px;
  color: #333333;
}
.title-progress-info p{
  margin-bottom: 0;
}
/*************** Card ***************/
.card {
border: 1px solid #d7e1ef;
-webkit-border-radius: 0.15rem;
-moz-border-radius: 0.15rem;
border-radius: 0.15rem;
box-shadow: none;
background: #ffffff;
margin-top: 40px;}
.card.top-blue-bdr {
  border-top: 2px solid #2bb4e8; }
.card.top-grey-bdr {
  border-top: 2px solid #333333; }
.card.top-red-bdr {
  border-top: 2px solid #fa5561; }
.card .card-body {
  padding: 1rem;
  position: relative;
}
.card .card-header {
  background: #ffffff;
  border-bottom: 1px solid #dee7f2;
  padding: 1rem;
  position: relative; 
  font-size: 18px;
  font-weight: 500;
  color: #333;
  border-left: 1px solid #f88222;
  border-radius: 0;
}
.card .card-header h5 {
  font-size: 1rem; 
  }
.card .card-header h5 a {
  color: #2bb4e8;
 }
.card .card-header a.link {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: .75rem;
  color: #000000; 
}
.card .card-footer {
  background: #ffffff;
  border-top: 1px solid #dee7f2;
  font-size: 1rem;
  padding: .75rem 1rem;
  position: relative; 
}
.card .card-footer h5 {
    font-size: 1rem;
}
.card .card-footer h5 a {
      color: #2bb4e8; 
}
.card h6.card-title {
  text-align: center;
  margin: 1rem; 
}
.card.bg-primary {
  border: 1px solid #2bb4e8; 
}
.card.bg-primary .card-header {
    background: #2bb4e8;
    border-bottom: 1px solid #18aae1; 
}
.card.bg-secondary {
  border: 1px solid #fa5561; 
}
.card.bg-secondary .card-header {
  background: #fa5561;
  border-bottom: 1px solid #f92d3c; 
}
.card.bg-dark {
  border: 1px solid #65ab53; 
}
.card.bg-dark .card-header {
  background: #65ab53;
  border-bottom: 1px solid #559046; 
}
.card.bg-light {
  border: 1px solid #d2ddf3; 
}
.card.bg-light .card-header {
    background: #d2ddf3;
    border-bottom: 1px solid #beceee; 
}
.card.bg-success {
  border: 1px solid #00bbc3; 
}
.card.bg-success .card-header {
  background: #00bbc3;
  border-bottom: 1px solid #00a3aa; 
}
.card.bg-info {
  border: 1px solid #2cb4e8; 
}
.card.bg-info .card-header {
  background: #2cb4e8;
  border-bottom: 1px solid #19aae2; 
}
.card.bg-warning {
  border: 1px solid #ffc81a; 
}
.card.bg-warning .card-header {
  background: #ffc81a;
  border-bottom: 1px solid #f0b700; 
}
.card.bg-danger {
  border: 1px solid #fa5561; 
}
.card.bg-danger .card-header {
  background: #fa5561;
  border-bottom: 1px solid #f93c4a; 
}
.card.bg-grey{
  background: #333333;
  border: 1px solid #333333; 
}
.card.bg-grey .card-header {
  background: #333333;
  border-bottom: 1px solid #1f1f1f; 
}
.card.bg-brown {
  background: #79574b;
  border: 1px solid #79574b; 
}
.card.bg-brown .card-header {
  background: #79574b;
  border-bottom: 1px solid #60453b; 
}
.card.bg-facebook {
  background: #3B5998;
  border: 1px solid #3B5998; 
}
.card.bg-facebook .card-header {
  background: #3B5998;
  border-bottom: 1px solid #30487b;
}
.card-message {
  background-color: #ffffff;
  padding: 12px 20px;
  border-bottom: 1px solid #e1e5f1; 
}
.card-message i {
  font-size: 2rem;
  margin-right: 10px;
  float: left; 
}
.map-img{
  width: 100%;
}
/**********************************************
summary-block
*****************************************/
.project-summary a{
  color: #666;
  line-height: 26px;
}
.project-summary li{
  border-bottom: 1px solid #d7d8da;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.project-summary li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card-body ul li a:hover{
  color: #f88222;
}
/*************** Project activity widget ***************/
ul.alert-notify-activity {
  margin-left: 20px;
  padding: 30px 0 20px 0;
  border-left: 1px solid #ebeef6; 
}
ul.alert-notify-activity li.alert-notify-list {
    position: relative; 
}
ul.alert-notify-activity li.alert-notify-list .lbl {
  background-color: #0077e1;
  color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  content: "";
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: -19px; 
}
ul.alert-notify-activity li.alert-notify-list .lbl.danger {
  background-color: #fa5561; 
}
ul.alert-notify-activity li.alert-notify-list .lbl.success {
  background-color: #00bbc3; 
}
ul.alert-notify-activity li.alert-notify-list .lbl.warning {
  background-color: #ffc81a; 
}
ul.alert-notify-activity li.alert-notify-list .lbl.grey {
  background-color: #e6e6e6;
  color: #000000; 
}
ul.alert-notify-activity li.alert-notify-list:last-child .detail-info {
  padding-bottom: 0; 
}
ul.alert-notify-activity li.alert-notify-list .detail-info {
  line-height: 100%;
  margin: 0 0 0 30px;
  padding-bottom: 25px; 
}
ul.alert-notify-activity li.alert-notify-list .detail-info p.desc-info {
  margin: 0 0 10px 0;
  line-height: 200%;
}
ul.alert-notify-activity li.alert-notify-list .detail-info p.desc-info span {
  color: #000000; 
}
ul.alert-notify-activity li.alert-notify-list .detail-info a.activity-status {
  color: #a7b4c5;
  font-size: .75rem; 
}
ul.alert-notify-activity li.alert-notify-list .detail-info a.activity-status i {
  font-size: 13px;
  vertical-align: middle;
  margin-right: 5px;
  color: #00bbc3; 
}
.detail-info a{
  color: #666;
}
.detail-info span.days{
  color: #f88222;
}
/*************************************************
portfoilo
************************************************/
.card-body .table td, .card-body .table th {
    padding: 15px 0;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    border-top: 0;
    font-weight: 500;
}

/*********************************************
tabs
**************************************************/
.tab-style1 {
  border: 0;
}
.tab-style1 ul.nav-tabs {
  border-bottom: 1px solid #ddd;
  height: 42px;
}
.tab-style1 ul li {
  margin-right: 1px;
}
.tab-style1 ul li a, .customtab li a {
  background-color: transparent;
  color: #8d8d8d;
  padding: 10px 20px;
}
.tab-style1 ul li a:hover, .customtab li a.nav-link:hover {
  background-color: transparent;
  color: #f88222;
}
.tab-style1 ul.nav-tabs .nav-item.show .nav-link, .tab-style1 ul.nav-tabs .nav-link.active, .tab-style1 ul.nav-tabs .nav-link {
  border: 0;
}
.tab-style1 ul.nav-tabs li a.active, .customtab li a.nav-link.active {
  background-color: transparent;
  color: #f88222;
  border-bottom: solid 1px #f88222 !important;

}
.customtab li a.nav-link {
    border: 0;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    font-size: 15px;
    padding-left: 0;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}
/************************************
tables
************************************************/
/*************** Tables ***************/
.table-hover tbody tr:hover {
  background-color: #e6ecf3; }

.table td, .table th {
  vertical-align: middle; }

.thead-default th {
  background: #e6ecf3; }

.table-inverse {
  background: #2bb4e8; }

.table-inverse td, .table-inverse th, .table-inverse thead th {
  border-color: #18aae1; }

.thead-inverse th {
  background-color: #2bb4e8; }

.table thead th {
  border-bottom: 1px solid #e1e5f1; }

.table-success,
.table-success > td,
.table-success > th {
  background-color: #d8f1ef; }

.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: #fde8e8; }

.table-warning,
.table-warning > td,
.table-warning > th {
  background-color: #fdebd1; }

.table-info,
.table-info > td,
.table-info > th {
  background-color: #e0f0fd; }

.table-light,
.table-light > td,
.table-light > th {
  background-color: #e6ecf3; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e6ecf3; }
.card-body .table .thead-default th, .card-body .common-tabs .table tbody th{
  padding: 15px;
}
/* radios and checkboxes */
.sky-form .radio,.sky-form .checkbox {
  outline:none;
  border:none;
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 13px;
  line-height: 27px;
  color: #555555;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: normal;
  margin-top: 0;
}
.sky-form .radio{
  text-transform: none;
}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
  margin-bottom: 0;
}
.sky-form .radio input,
.sky-form .checkbox input {
  position: absolute;
  left: -9999px;
}
.sky-form .radio i,
.sky-form .checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  background: #fff;
}
.sky-form .radio i {
  border-radius: 50%;
}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.sky-form .radio input + i:after {
  content: '';
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.sky-form .checkbox input + i:after {
  content: '';
  top: 3px;
  left: 2px;
  width: 10px;
  height: 7px;
  background: url(../images/tick.png) no-repeat;
  text-align: center;
}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after {
  opacity: 1;
}
.sky-form .inline-group {
  margin: 0 -30px -4px 0;
}
.sky-form .inline-group:after {
  content: '';
  display: table;
  clear: both;
}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
  float: left;
  margin-right: 30px;
}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
  margin-bottom: 4px;
}
/* icons */

.sky-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* normal state */
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
  border-color: #e5e5e5;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
.sky-form .toggle i:before {
  background-color: #2da5da;  
}
/* hover state */
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i {
  border-color: #8dc9e5;
}
.sky-form .button:hover {
  opacity: 1;
}
/* focus state */
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
  border-color: #2da5da;
}
/* checked state */
.sky-form .radio input + i:after {
  background-color: #f88222;  
}
.sky-form .checkbox input + i:after {
  color: #2da5da;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
  border-color: #f88222;  
}
/* error state */
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i {
  background: #fff0f0;
}
/* success state */
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i {
  background: #f0fff0;
}
/* disabled state */
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled {
  cursor: default;
  opacity: 0.5;
}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
  border-color: #e5e5e5;
}
.custom-checkboxs{
  position: relative;
}
.custom-checkboxs.sky-form .checkbox{
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}
.tab-checkbox .custom-checkboxs{
  display: inline-block;
  margin-right: 20px;
}
.common-tab-list a{
  color: #666;
  line-height: 26px;
}
.common-tab-list li{
  border-bottom: 1px solid #d7d8da;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.common-tab-list li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.common-tab-list ul li a:hover{
  color: #f88222;
}
.common-tab-list{
  margin-top: 40px;
}
.owl-dots{
  display: none;
}
/*************************************
multiselect
**********************************/
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
  height: 50px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #fff;
    background: #f88222;
    border: 1px solid #f88222;
    border-radius: 0;
    cursor: default;
    float: left;
    margin: 7px 0 0 6px;
    padding: 7px 15px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
}
.select2-container--bootstrap {
    display: block;
    width: 100%!important;
}
.select2-container--bootstrap .select2-selection--multiple {
    min-height: 34px;
    padding: 0;
    height: auto;
    border-radius: 0;
}
/******************************************
shares
********************************************/
.shares-col .card{
  margin-top: 0;
}
.share-box{
  background: #f6f6f6;
  border:1px solid #ebe7e7;
  padding: 30px 15px;
  text-align: center;
}
.share-box p{
  margin-bottom: 0;
  font-size: 16px;
  color: #333333;
}
.share-box span{
  color:#f88c3b; 
}
.form-control{
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d7d8da;
  padding-left: 0;
  font-size: 14px;
}
.form-bar select option{
  font-size: 14px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    font-size: 14px;
}
.top-form-bar{
  margin: 40px 0;
}
.form-title{
  color: #333;
  font-weight: 500;
}
.btn-common{
  background: #f88c3b;
  margin-top: 9px;
  border:1px solid #f88c3b;
  width: 100%;
}
table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    opacity: 0;
}
/*#dynamic-table_wrapper .row{
  margin: 0 15px;
}*/
.pagination {
  float: right;
}
.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 15px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #f88c3b;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>li.active a {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #f88c3b;
  border-color: #f88c3b;
}
.pagination.pagination-flat>li>a {
  border-radius: 0 !important
}
.common-dynamic-table{
  margin-bottom: 40px;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
}
#dynamic-table_filter{
  float: right;
}
/****************************************************
tab table
**************************************************/
.common-dynamic-table .icon{
  font-size: 22px;
  color: #f88222;
}
.mg-top {
    margin-top: 20px;
  
}
.pad01{
  padding: 0 15px;
}
.card-body .table td, .card-body .table th {
     padding: 15px 12px; 
}
.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}
/****************************************
tearsheet
*********************************/
.company-stats h2{
  font-size: 20px;
  text-transform: uppercase;
}
.card .card-body {
    padding: 25px;
    position: relative;
}
.company-stats span{
  color: #f88222;
  text-transform: uppercase;
  font-size: 16px;
}
.company-stats p{
  font-size: 20px;
}
.company-stats-list{
  margin-top: 20px;
}
.company-stats-box{
  border-right: 1px solid #eee;
  margin-right: 15px; 
}
div.company-stats-box:nth-child(3n){
  border-right: 0;
}
.stast-details{
  margin-top: 20px;
}
.stast-details img{
  width: 100%;
}
.stast-details h2{
  font-size: 22px;
  margin: 20px 0;
}
/***********************
progress bar
**********************************/

.progress-title{
    font-size: 16px;
    font-weight: 700;
    color: #011627;
    margin: 0 0 20px;
}
.progress{
    height: 6px;
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:after {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: -20px;
    right: -12px;
}
.progress .progress-value{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -26px;
    right: 0;
}
.progress.pink .progress-bar:after{
    border-bottom-color: #f88222;
}

@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}
.progress-bars{
  margin-top: 26px;
}
.pull-right{
  float: right;
}
.value-progress p{
  color: #f88222;
  font-weight: 500;
}
/****************************
menu change
**************************/
.app-side.is-mini .ssMenu>li>ul>li:hover>ul {
    position: absolute;
    top: 20px;
    left: 100%;
    width: 100%;
}
.side-content .user-profile h6.profile-name {
    margin: 25px 0 0;
    font-size: .9rem;
    color: #fff;
}
/***************************************************
login
*******************************************************/
.login-bg{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg-overlay{
  background: url(../images/bg-overlay.png);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.login-box{
  border: 2px solid #f88222;
  background: rgba(255,255,255,0.3);
  padding: 50px 20px;
  height: 100vh;
}
.no-pad{
  padding-left: 0;
}
.login-box figure img{
  margin: 0 auto 20px;
}
.login-box figure{
  text-align: center;
}
.login-box  .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #acadaf;
    padding-left: 0;
    font-size: 14px;
    background: transparent;
}
.login-box .form-group{
  margin-bottom: 25px;
}
p.for-pas{
  color: #0b98b2;
  font-size: 18px;
  font-weight: 500;
}
.btm-login{
  margin-top: 35px;
}
.login-btns input{
  background: #f88222;
  border: 0;
  padding: 10px 60px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
   font-size: 18px;
  font-weight: 500;
}
.login-btns{
    text-align: right;
    margin-top: 23px;
}
.not-register{
  text-align: center;
  margin-top: 35px;
  font-size: 18px;
}
.login-box h4{
  margin-bottom: 50px;
}

.login-btns.signup-btns{
  text-align: left;
}
.login-btns input.reset{
  background: transparent;
  border:1px solid #f88222;
  color: #333;
  margin-bottom: 20px;
}
.comparative-form .select2-container--bootstrap  .select2-selection--multiple .select2-search--inline .select2-search__field{
  height: 38px;
}
.comparative-form .select2-container--bootstrap .select2-selection--multiple {
    min-height: 34px;
    padding: 0;
    height: auto;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: initial;
}
.click-btn{
  display: inline-block;
}
.comp-left-box{
  background: #f5f5f5;
  padding: 15px 20px;
}
.comparative-left{
  margin-top: 50px;
}
.comp-left-box ul li{
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.comp-left-box ul li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.comp-left-box ul li a{
  color: #333;
  font-size: 16px;
}
/*************************************
change
***************************************/
.ssMenu li ul li a.has-arrow{
  padding-left: 0;
}
.main-footer.fixed-btm {
    z-index: 1002;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    font-size: 13px;
}
.side-nav .ssMenu>li.selected:after {
    position: absolute;
    content: "";
    right: 0;
    top: 1px;
     border-right: initial; 
     border-top: initial; 
     border-bottom: initial; 
    z-index: 2020;
    border-left: 2px solid #f88c3b;
    height: 50px;
    left: 0;
}
.side-nav .ssMenu a{
  padding: 6px;
}

.app-header{
	height: 10% !important;
}