body {
	background-color: white;
	font-family: sans-serif;
}

.text-radio {
	text-transform: uppercase;
	color: white;
	position: relative;
}

/* input {
	height: 1.2rem;
	width: 1.2rem;
	margin-left: 20rem;
} */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	opacity: 1;
}

.switch input {
	opacity: 1;
	width: 0;
	height: 0;
}

.btn-toggle {
	margin: 0 4rem;
	padding: 0;
	position: relative;
	border: none;
	height: 1.5rem;
	width: 3rem;
	border-radius: 1.5rem;
	color: white;
	background: #bdc1c8;
}

.btn-toggle:focus, .btn-toggle.focus, .btn-toggle:focus.active,
	.btn-toggle.focus.active {
	outline: none;
}

.btn-toggle:before, .btn-toggle:after {
	line-height: 1.5rem;
	width: 4rem;
	text-align: center;
	font-weight: 400;
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	transition: opacity 0.25s;
}

.btn-toggle:before {
	content: 'SELL';
	left: -4rem;
}

.btn-toggle:after {
	content: 'BUY';
	right: -4rem;
	opacity: 0.5;
}

.btn-toggle>.handle {
	position: absolute;
	top: 0.1875rem;
	left: 0.1875rem;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 1.125rem;
	background: #fff;
	transition: left 0.25s;
}

.btn-toggle.active {
	transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
	left: 1.6875rem;
	transition: left 0.25s;
}

.btn-toggle.active:before {
	opacity: 0.5;
}

.btn-toggle.active:after {
	opacity: 1;
}

.btn-toggle:before, .btn-toggle:after {
	color: white;
}

.btn-toggle.active {
	background-color: #29b5a8;
}

.container {
	
}

.check-label {
	margin-top: 6px !important;
}

.form-input-name {
	background-color: #f0f0f0;
	width: auto;
}

.personal-detail {
	background-color: #f0f0f0;
}

.detail {
	text-transform: uppercase;
}

.form-group {
	display: block !important;
}

.custom-row {
	display: grid;
	grid-template-columns: 3rem 3rem 3rem 3rem 3rem 5rem 5rem 6rem 5rem 5rem
		5rem 10rem;
	grid-row-gap: 1rem;
	grid-column-gap: 10px;
}

.company-data {
	text-align: center;
	text-transform: uppercase;
	display: block;
}

.font-weight-bold {
	background: #c0c0c0 !important;
}

.space {
	width: 4rem;
}

.button {
	margin-left: 2rem;
}

.custom-button {
	text-transform: capitalize;
	font-size: 1.0rem;
	background: #c0c0c0;
	border: 0.05rem solid #000000;
	border-color: #000000;
	color: #000000;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	margin: 0.2rem 0.5rem 0.2rem 0.2rem;
	transition: all 0.5s ease-in-out;
}

.custom-button:hover {
	background: #0000ff;
	color: white;
}

custom-button:focus {
	outline: none;
}

.sell {
	background: red;
	justify-content: center;
	color: white;
	font-weight: 40px;
	font-size: 1.2rem;
	height: 30px;
	padding-top: 5px;
}

.buy {
	background: blue;
	text-align: center;
	color: white;
	font-weight: 40px;
	font-size: 1.2rem;
	height: 30px;
	padding-top: 5px;
	justify-content: center;
}

.table-border td {
	border-left: 1px solid #fff;
	background: #D1E2F5;
}

.table-title thead {
	background: #D1E2F5;
	font-weight: bold;
}

.red {
	color: #ff0000;
}

.green {
	color: #00ff00;
}

.heading {
	background-color: #339966;
	color: #ffffff;
	height: 2rem;
	text-align: center;
	padding-top: 8px;
}
.disabled, .date-disabled{
	opacity: 0.5;
}

form .disabled input, .date-disabled input, .disabled select {
	background-color: #ffffff !important;
}

form .disabled input:hover, .date-disabled input:hover, .disabled select:hover
	{
	cursor: no-drop;
}
/* 
form .date-disabled input {
	background-color: #ffffff !important;
}

form .date-disabled input:hover{
	cursor: no-drop;
	
} */