<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/institution-user">
<head>
<title>Virtual Trading | My Details</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-header">
							My Details
							<div class="card-header-btn-group">
								<a th:href="${'/institution/user/my-details/edit/' + userDetail.id}"
									class="btn btn-sm btn-common1"><i class="icon icon-edit"></i>
									Edit</a>
							</div>
						</div>
						<div class="card-body">
							<div class="alert alert-warning"
								th:if="${!#strings.isEmpty(info)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-flash"></i> <span th:utext="${info}"></span>
							</div>
							<div class="alert alert-danger"
								th:if="${!#strings.isEmpty(error)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-warning2"></i><span th:utext="${error}"></span>
							</div>
							<div class="alert alert-success"
								th:if="${!#strings.isEmpty(success)}">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<i class="icon-tick"></i><span th:utext="${success}"></span>
							</div>
							<div class="table-responsive">
								<table id="" class="table table-bordered table-striped pad01">
									<tbody>
										<tr>
											<td>Name</td>
											<td th:utext="${userDetail.name}"></td>
										</tr>
										<tr>
											<td>Address</td>
											<td th:utext="${userDetail.address}"></td>
										</tr>
										<tr>
											<td>Contact Number</td>
											<td th:utext="${userDetail.contactNumber}"></td>
										</tr>
										<tr>
											<td>Father Name</td>
											<td th:utext="${userDetail.fatherName}"></td>
										</tr>
										<tr>
											<td>Grandfather Name</td>
											<td th:utext="${userDetail.grandfatherName}"></td>
										</tr>
										<tr>
											<td>Date of Birth</td>
											<td th:utext="${userDetail.dateOfBirth}"></td>
										</tr>
										<tr>
											<td>BOID</td>
											<td th:utext="${userDetail.boid}"></td>
										</tr>
										<tr>
											<td>Client Code</td>
											<td th:utext="${userDetail.clientCode}"></td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- END: .main-content -->
	</div>
</body>
</html>