<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="width: 100%; background-color: #fff;">
		<div style="margin: 0 auto; background-color: #fff;">
			<p
				style="font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px;">
				Dear <span th:utext="${userName}"></span>,<br></br>
				Congratulation!!! Your account has been created by administrator.
			</p>
			<p
				style="font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px;">
				The detail of your account as follows: <br></br> <b>Username: <span
					th:utext="${userName}"></span></b><br></br> <b>Email: <span
					th:utext="${email}"></span></b><br></br> <b>Role: <span
					th:utext="${roleName}"></span></b><br></br> <b>Branch: <span
					th:utext="${branchName}"></span></b><br></br>
			</p>
			<p
				style="font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px;">
				You should reset your password in order to login to our system.</p>
			<p
				style="font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px;">
				To reset your password, Please click the following link : <a
					th:href="${passwordResetUrl}">Reset your password</a>
			</p>
		</div>
	</div>
</body>
</html>