<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/institution-admin">
<head>
<title>Virtual Trading | User</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="main-content">
			<section id="vc-common-data-col" class="common-data-col">
				<div class="common-data-blocks">
					<div class="card">
						<div class="card-header">
							Create User
							<div class="card-header-btn-group">
								<a th:href="@{/institution/admin/user/list}" class="btn btn-sm btn-common1"><i
									class="icon icon-arrow-back"></i> List</a>
							</div>
						</div>
						<div class="card-body">
							<div th:remove="tag" th:replace="users/institution/admin/user/_form :: form"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- END: .main-content -->
	</div>
</body>
</html>
